div.content-page-component.animated.fadeInUp.pages-auth-new-password

  .content
    .logo
      img(src="/imgs/logo.png")

    div(ng-if="$ctrl.isExpired")
      md-card
        md-card-content
          p O link expirou.
      div
          md-button.md-raised(ng-href="/") Voltar

    md-tabs.no-header(md-dynamic-height, md-border-bottom, md-selected="$ctrl.currentTab", ng-if="!$ctrl.isExpired")
      md-tab(label="Entrar")
         form(md-form-validator,ng-submit='$ctrl.submit()')

            md-card
              md-card-content
                p.p-b-sm.m-none Olá {{$ctrl.data.firstName}}, informe sua nova senha:

                md-input-container.md-block
                  label Senha
                  input(ng-model='$ctrl.model.password', name='password', type='password', ng-minlength="'5'", required)
                  md-messages

                md-input-container.md-block
                  label Repita a senha
                  input(ng-model='$ctrl.model.confirmPassword', name='confirmPassword', type='password', equals="$ctrl.model.password")
                  md-messages
                    md-message(equals) As senhas são diferentes

            div.text-right
              md-button.md-raised.md-accent(type='submit') Salvar

      md-tab(label="Login Erro")
        md-card
          md-card-content
            p Conseguimos alterar sua senha, mas não foi possivel fazer seu login no sistema.

        div(layout='row')
          md-button.md-raised(ng-href="/") Voltar
          span(flex='')
          md-button.md-raised.md-accent(ng-click="$ctrl.login()") Tentar novamente
