div.content-page-component.animated.fadeInUp.pages-public

  .content
    .logo
      img(src="/imgs/logo.png")

    h2.title Política de Privacidade

    md-card
      md-card-content

        p
          | Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar
          | a sua visita no nosso site o mais produtiva e agradável possível.
        p
          | A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site
          | é importante para nós.
        p
          | Todas as informações pessoais relativas a membros ou visitantes
          | que usem o Sistema ICB Sorocaba serão tratadas em concordância com a Lei da Proteção de Dados Pessoais
          | de 26 de outubro de 1998 (Lei n.º 67/98).
        p
          | A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone,
          | data de nascimento e/ou outros.
        p
          | O uso pressupõe a aceitação deste Acordo de privacidade. A equipa da ICB Sorocaba
          | reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte
          | a nossa política de privacidade com regularidade de forma a estar sempre atualizado.


    div(layout='row')
      span(flex='')
      md-button.md-raised(href="/") Voltar