app-title Visitantes

md-tabs(md-dynamic-height, md-border-bottom, header-tabs)
  md-tab(label="Formulário")
    app-visitor-form-component

  md-tab(label="Cadastros")
    md-card
      md-card-content Cadastros