md-dialog(flex="30", flex-md="50", flex-sm="90", flex-xs="90")
  md-toolbar(flex="none")
    .md-toolbar-tools
      h2 Trocar Senha
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.cancel()')
        md-icon(md-svg-icon="close")

  form(md-form-validator, ng-submit="$ctrl.submit()")
    md-dialog-content
      .md-dialog-content

        md-input-container.md-block
          label Senha Atual
          input(ng-model='$ctrl.model.currentPassword', name='currentPassword', type='password', required)
          md-messages

        md-input-container.md-block
          label Nova Senha
          input(ng-model='$ctrl.model.newPassword', name='newPassword', type='password', ng-minlength="'6'", required)
          md-messages

        md-input-container.md-block
          label Repita a senha
          input(ng-model='$ctrl.model.confirmPassword', name='confirmPassword', type='password', equals="$ctrl.model.newPassword")
          md-messages
            md-message(equals) As senhas são diferentes

    md-dialog-actions(layout="row")
      md-button.md-raised(type="button", ng-click="$ctrl.cancel()") Cancelar
      div(flex)
      md-button.md-raised.md-accent(type="submit") Alterar