app-user-menu-component {
  p {
    float: left;
    overflow: hidden;
    width: calc(100% - 100px);
    margin: 0;
    padding: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  md-menu {
    float: right;
    margin-top: 5px;
  }
}